footer.footer
    .footer__logo
        img(src='/image/logo.jpg', alt='')
    ul.footer__nav
        li
            a(href='#') About us
            a(href='#') Download our App
            a(href='#') Careers
            a(href='#') Contact
    p.footer__copyright &copy; by Hassan Jarko. All Rights reserved this site was made using pug template engine L.L.C