header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All Cars
    .header__logo
        img(src='/image/logo.jpg', alt='logo')
    nav.nav.nav--user
        //- a.nav__el(href='#') My Cars
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='',alt='')
        //-     span Hassan
        a.nav__el(href='/login') Login
        a.nav__el.nav__el--cta(href='/Signup')  Sign up  